<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" style="--color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Header Section -->
  <div class="category-header">
    <div class="header-content">
      <div class="greeting-section">
        <h1 *ngIf="!selectedCategoryName">Browse Categories</h1>
        <h1 *ngIf="selectedCategoryName">{{ selectedCategoryName | titlecase }} Movies</h1>
        <p *ngIf="!selectedCategoryName">Discover movies by genre</p>
        <p *ngIf="selectedCategoryName">Explore {{ selectedCategoryName }} movies</p>
      </div>
    </div>

    <!-- Search Bar -->
    <ion-searchbar class="custom-searchbar" placeholder="Search categories..." animated="true" [(ngModel)]="searchQuery"
      (ionInput)="onSearch($event)">
    </ion-searchbar>
  </div>



  <!-- Categories Grid -->
  <div class="categories-container">
    <div class="categories-grid">
      <div *ngFor="let category of filteredCategories" class="category-card" (click)="selectCategory(category)"
        [style.background]="category.color">
        <div class="category-content">
          <div class="category-icon">
            <ion-icon [name]="category.icon"></ion-icon>
          </div>
          <h3>{{ category.name }}</h3>
          <p class="description">{{ category.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Empty State -->
  <div *ngIf="filteredCategories.length === 0" class="empty-state">
    <ion-icon name="search-outline"></ion-icon>
    <h3>No categories found</h3>
    <p>Try searching with different keywords</p>
  </div>
</ion-content>