<!-- Social Signup/Login Buttons -->
<div class="social-buttons">
  <ion-button fill="outline" shape="round" class="social-btn" (click)="onGoogleClick()">
    <ion-icon name="logo-google"></ion-icon>
  </ion-button>
  <ion-button fill="outline" shape="round" class="social-btn" (click)="onFacebookClick()">
    <ion-icon name="logo-facebook"></ion-icon>
  </ion-button>
  <ion-button fill="outline" shape="round" class="social-btn" (click)="onAppleClick()">
    <ion-icon name="logo-apple" size="large"></ion-icon>
  </ion-button>
</div>